.activity-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.design {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 5%;
}

@media only screen and (max-width: 768px) {

    .cart-design {
        grid-template: auto;
    }

    .design {
        grid-template-columns: repeat(2, 1fr);
        margin: 5%;
    }
}

@media only screen and (max-width: 480px) {

    .cart-design {
        grid-template: auto;
    }

    .design {
        grid-template-columns: repeat(1, 1fr);
        margin: 5%;
    }
}


.cart-design {
    border: 2px solid whitesmoke;
    border-radius: 5px;

}

.cart-re-design {
    display: flex;
}

.cart-margin {
    margin-left: 5%;
    position: sticky;
    top: 0;
}

.cart-img img {
    width: 95px;
    height: 80px;
    border-radius: 50%;
}

.decoration {
    margin-left: 5%;
}

.name-design {
    font-size: 18px;
}

.w-h-design {
    display: flex;
    background-color: whitesmoke;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 50px;

}

.div {
    margin-right: 10px;
}

.para-design {
    margin-left: 15px;
}

.second-design {
    display: flex;
    gap: 20px;
    background-color: whitesmoke;
    border-radius: 5%;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-bottom: 25%;
}

.div-design {
    padding: 10px;
    border-radius: 50%;
    background-color: white;
    color: black;
}

.div-design:hover {
    background-color: blueviolet;
}

.div-re-design {
    background-color: palevioletred;
}

.routine {
    margin-top: 10%;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 8px;
}

.break {
    margin-top: 15px;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 8px;
}

.btn-decorate {
    width: 100%;
    padding: 18px;
    margin-top: 40px;
    background-color: palevioletred;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 8px;

}