.image-design {
    width: 4%;
}

.navigator {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
}

.head-design {
    color: rgb(19, 19, 170);
    margin-top: 3%;
    margin-left: 10px;
    font-size: 30px;
}